.comp-navigation {
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
      border-style: solid;
      border-width: 0.15rem;
      border-color: black;
      box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
    > ul {
      display: flex;
      margin: 0;
      padding: 0;
      flex-direction: row;
      list-style: none;
    }
  }
  
  .nav-item{
    list-style: none;
    margin-right: 10px;
  }
  
  .navLink{
    color: white;
    font-family: "Homenaje",sans-serif;
    font-size: 20px;
  }
  